<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}{% if block("title") is not empty %} - {% endif %}{{ configuration.title }}</title>
        <link rel="stylesheet" href="{{ configuration.browserBaseUrl ~ "style/" ~ configuration.theme ~ ".css" }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="shorcut icon" href="{{ configuration.browserBaseUrl ~ "favicon.ico" }}" />
    </head>

    <body>
        <div class="header-container">
            <header class="header">
                {% block header %}{% endblock %}
            </header>
        </div>

        <div class="content-container">
            <div class="content">
               {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
