{% extends "base.html.twig" %}

{% block title %}Directory not found{% endblock %}

{% block header %}
    Directory not found
{% endblock %}

{% block content %}
    <div class="content-alert">The requested directory could not be found.</div>
{% endblock %}
